<script type="text/html" id="add-component">
    <div class="add-view">
        <label>Description:</label>
        <input data-bind="value: description" />
        <button data-bind="click: add">Add</button>
    </div>
</script>
