<script type="text/html" id="filters-component">
    <div class="filters-view">
        <div>Filters:</div>
        <a href="#" data-bind="click: showAll">All</a>
        &nbsp;&nbsp;        
        <a href="#" data-bind="click: showActive">Active</a>
        &nbsp;&nbsp;        
        <a href="#" data-bind="click: showCompleted">Completed</a>
    </div>
</script>
