<script type="text/html" id="list-component">
    <div class="list-view">
        <ul data-bind="foreach: todos">
            <todo-list-item params="{ todo: $data }"></todo-list-item>
        </ul>
    </div>
</script>
